Transfrm/TriggerFile.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="TriggerFile" type="TriggerFileType"/>
	
	<xsd:complexType name="TriggerFileType">
		<xsd:sequence>
			<xsd:element name="Header" type="HeaderType" minOccurs="1" maxOccurs="1"/>	
			<xsd:element name="TriggerRecord" type="TriggerRecordType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>



	<xsd:complexType name="HeaderType">
		<xsd:sequence>
			<xsd:element name="Identifier" type="IdentifierType"/>
			<xsd:element name="DataSource" type="xsd:string"/>
			<xsd:element name="MessageID" type="MessageIDType"/>
			<xsd:element name="EventCount" type="EventCountType"/>
			<xsd:element name="RunDateTime" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>



	<xsd:complexType name="TriggerRecordType">
		<xsd:sequence>
			<xsd:element name="Event_Ref_Num" type = "xsd:integer" />
			<xsd:element name="Bureau" type="BureauType"/>
			<xsd:element name="UCR" type="Char17UniqueReferenceStringType"/>
			<xsd:element name="TransactionReference" type="Char17UniqueReferenceStringType"/>
			<xsd:element name="LogFile" type="LogFileType"/>
			<xsd:element name="ActionParticipantType" type="ActionParticipationTypeType"/>
			<xsd:element name="ActionParticipant" type="Char06PartyIDStringType"/>
			<xsd:element name="ActionDatetime" type="xsd:string"/>
			<xsd:element name="DateAdded" type="xsd:string"/>
			<xsd:element name="TimeAdded" type="xsd:string"/>
			<xsd:element name="Company_SyndicateIdentification" type="Char06PartyIDStringType"/>
			<xsd:element name="ClaimLineNumber" type="xsd:positiveInteger"/>
			<xsd:element name="ActionTypeQual" type="Char03CodeStringType"/>
			<xsd:element name="ActionTypeSubType" type="Char03CodeStringType"/>
			<xsd:element name="ActionTypeResponse" type="Char03CodeStringType"/>
			<xsd:element name="ActionCode" type="ActionCodeType"/>
			<xsd:element name="ResponseCode" type="Char15ReferenceStringType" minOccurs="0"/>
			<xsd:element name="UniqueMarketReference" type="Char17UniqueReferenceStringType"/>
			<xsd:element name="TransactionStatus" type="Char02CodeStringType"/>
			<xsd:element name="TransactionType" type="TransactionTypeType"/>
			<xsd:element name="ECFIndicator" type="ECFIndicatorType"/>
			<xsd:element name="Company_SyndicateSignedLinepct" type="Company_SyndicateSignedLinepctType"/>
			<xsd:element name="CarrierReference1" type="Char15ReferenceStringType"/>
			<xsd:element name="CarrierReference2" type="Char15ReferenceStringType" minOccurs="0"/>
			<xsd:element name="Role" type="RoleType"/>
			<xsd:element name="Amounts" type="AmountsType" maxOccurs="3"/>
			<xsd:element name="RiskCode_LloydsOnly" type="Char02CodeStringType" minOccurs="0"/>
			<xsd:element name="LloydsCatCode" type="Char04CodeStringType" minOccurs="0"/>
			<xsd:element name="PCSCode" type="Char04CodeStringType" minOccurs="0"/>
			<xsd:element name="LossDateFrom" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LossDateTo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ClaimsRef1" type="Char15ReferenceStringType" minOccurs="0"/>
			<xsd:element name="ClaimsRef2" type="Char15ReferenceStringType" minOccurs="0"/>
			<xsd:element name="YearOfAccount_LloydsOnly" type="YearOfAccountType" minOccurs="0"/>
			<xsd:element name="Insured" type="Char50LongNameStringType" minOccurs="0"/>
			<xsd:element name="Reinsured" type="Char50LongNameStringType" minOccurs="0"/>
			<xsd:element name="LossName" type="Char20ShortNameStringType" minOccurs="0"/>
			<xsd:element name="UserID" type="Char08UserIDStringType"/>
			<xsd:element name="SlipLead" type="Char20ShortNameStringType" minOccurs="0"/>
			<xsd:element name="BrokerIdentification" type="Char04CodeStringType"/>
			<xsd:element name="BrokerContact" type="Char15ReferenceStringType" minOccurs="0"/>
			<xsd:element name="IUALossCodes" type="Char02CodeStringType" minOccurs="0"/>
			<xsd:element name="MarketParticipant" type="MarketParticipantType" minOccurs="0" maxOccurs="5"/>
			<xsd:element name="OtherCarrier" type="OtherCarrierType" minOccurs="0" maxOccurs="150"/>
			<xsd:element name="NumberOfAgreementPartiesAgreed" type="xsd:positiveInteger" minOccurs="0"/>
			<xsd:element name="NumberOfAgreementPartiesQueried" type="xsd:positiveInteger" minOccurs="0"/>
			<xsd:element name="TotalNumberOfAgreementParties" type="xsd:positiveInteger"/>
<!-- 		elements Bureau leads and second agreement parties included, see revision comment 30-March-2010  		-->
			
			<xsd:element name="BureauLead_Lloyds" type="Char06PartyIDStringType"/>
			<xsd:element name="SecondAgreementParty_Lloyds" type="Char06PartyIDStringType"/>
			<xsd:element name="BureauLead_ILU" type="Char06PartyIDStringType"/>
			<xsd:element name="SecondAgreementParty_ILU" type="Char06PartyIDStringType"/>
			<xsd:element name="BureauLead_LIRMA" type="Char06PartyIDStringType"/>	
<!-- 	end of change on 30-March-2010  		-->

			<xsd:element name="Claim_Cat" type="Char01CodeStringType" />
        	<xsd:element name="Sequence_Num" type="Char03CodeStringType"/>	
        	<xsd:element name="Triage_Category" type="Char15ReferenceStringType"/>	
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AmountsType">
		<xsd:sequence>
			<xsd:element name="Outstanding_Indemnity" type="ClaimAmountType"/>
			<xsd:element name="PreviouslyPaid_OrigCcy_100pctOfOrder" type="ClaimAmountType" minOccurs="0"/>
			<xsd:element name="Incurred_OrigCcy_100pctOfOrder" type="ClaimAmountType"/>
			<xsd:element name="Settlement_OrigCcy" type="ClaimAmountType" minOccurs="0"/>
			<xsd:element name="OriginalCurrency" type="Char03CodeStringType"/>
			<xsd:element name="RateOfExchange" type="RateOfExchangeType" minOccurs="0"/>
			<xsd:element name="OutstandingQualifier" type="OutstandingQualifierType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MarketParticipantType">
		<xsd:sequence>
			<xsd:element name="MarketParticipantIdentification" type="xsd:string"/>
			<xsd:element name="MarketParticipantStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MarketParticipantResponseDateTime" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Market" type="BureauType"/>
		<xsd:attribute name="MarketRole">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="Lead"/>
					<xsd:enumeration value="SecondAgreementParty"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="OtherCarrierType">
		<xsd:sequence>
			<xsd:element name="OtherCarrierIdentification" type="xsd:string"/>
			<xsd:element name="OtherCarrierResponse" type="xsd:string"/>
			<xsd:element name="OtherCarrierResponseDateTime" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="Char01CodeStringType">
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1"/>
			</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char02CodeStringType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char03CodeStringType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char04CodeStringType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char06PartyIDStringType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char08UserIDStringType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char15ReferenceStringType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char17UniqueReferenceStringType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char20ShortNameStringType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char50LongNameStringType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateType">
		<xsd:restriction base="xsd:date">
			<xsd:minInclusive value="1900-01-01"/>
			<xsd:maxInclusive value="2099-12-31"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateTimeType">
		<xsd:restriction base="xsd:dateTime">
			<xsd:minInclusive value="1900-01-01T00:00:00.000000"/>
			<xsd:maxInclusive value="2099-12-31T23:59:59.999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BureauType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="IL"/>
			<xsd:enumeration value="LR"/>
			<xsd:enumeration value="SY"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LogFileType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="LOGA"/>
			<xsd:enumeration value="RUDA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActionParticipationTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="B"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="X"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ActionCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="U"/>
			<xsd:enumeration value="E"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransactionTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="S"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ECFIndicatorType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="T"/>
			<xsd:enumeration value="Y"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Company_SyndicateSignedLinepctType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0.0000000"/>
			<xsd:maxInclusive value="100.0000000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RoleType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AGREEMENT PARTY"/>
			<xsd:enumeration value="FOLLOWER"/>
			<xsd:enumeration value="LEAD"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OutstandingQualifierType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value=""/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="L"/>
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="S"/>
			<xsd:enumeration value="T"/>
			<xsd:enumeration value="V"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YearOfAccountType">
		<xsd:restriction base="xsd:gYear">
			<xsd:minInclusive value="1900"/>
			<xsd:maxInclusive value="2099"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ClaimAmountType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="-9999999999999.99"/>
			<xsd:maxInclusive value="9999999999999.99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RateOfExchangeType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999999.99999999"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="IdentifierType">
		<xsd:restriction base="xsd:string">
		    <xsd:pattern value="HDR"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="MessageIDType">
		<xsd:restriction base="xsd:positiveInteger" /> 
	</xsd:simpleType>
	<xsd:simpleType name="EventCountType">
		<xsd:restriction base="xsd:positiveInteger" /> 
	</xsd:simpleType>
</xsd:schema>
